.order_card {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-radius: 27px;
    border: 0.5px solid #2C3950B2;
    padding: 1.5rem 2rem;
    color: #2C3950B2;
    grid-template-areas: 
    "title_info direction_info"
    "title_info infro_info";
}

.order_card:hover {
    background-color: #ececec;
}

.title_info {
    grid-area: title_info;
}
.order_card span {
    font-size: 1em;
    display: inline;}   
.order_card h3 {
    color: #2C3950;
    font-size: 1.2em;
    display: inline;
    padding-left: 1em;}  
.order_card p {
    font-size: 0.8em;
    padding-top: 1em;}
.order_card .direction_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 0.7em;}
.order_card .direction_info div {
    padding: 0.2rem;
    border-radius: 13px;
    text-align: center;
    color: white; 
    margin-block: auto;}
.order_card .direction{
    background-color: #82B1B3;
    height: 2em;
    padding-block: auto;
    display: flex;
    align-items: center;
    justify-content: center;}
.order_card .subspecies{
    background-color: #50C878B2;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;}
.order_card .infro_info {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;}
.order_card .container_deadline {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 0.5rem;
    color: #2C3950; 
    border-radius: 13px;
    place-items: center;
    padding-block: 0.5rem;}
.order_card .container_comments {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 0.5rem;
    color: #2C3950;
    border-radius: 13px;
    place-items: center;
    padding-block: 0.5rem;}
.order_card .header {
    text-align: center;}
.order_card .content {
    text-align: center;
font-size: 0.8em;}