.about {
    margin-inline: 3em;
    margin-top: 1em;
}

.about .info {
    margin-block: 1em;
}

.about .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    grid-template-areas: 
    "what what"
    "how why"
    "best why";
}

.what {
    grid-area: what;
}

.why {
    grid-area: why;
}

.how {
    grid-area: how;
}

.best {
    grid-area: best;
}

.about .blocks div {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2em;
}

.about .blocks div ol, ul{
    list-style-position:  inside;
}