.input {
    display: flex;
    flex-direction: column;
    padding-block: 1em;
    color: #2C3950B2;
}

.input input {
    height: 2em;
    border-radius: 5px;
    border: 0.5px solid #2C39504D;
    padding: 0.3em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2C3950B2;
    width: 25px;
    height: 25px;
}

