* {
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 16) + 7px);}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;}
.logo_right {
    color: #50C878;}
button {
    color: white;
    background-color: #50C878;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;}



.direction_card {
    background: rgb(130,177,179);
    background: linear-gradient(90deg, rgba(130,177,179,1) 0%, rgb(92, 123, 123) 78%);
    border-radius: 20px;
    display: grid;
    height: 30em;
    grid-template-rows: 1fr 1fr;
    padding-top: 1em;
    overflow: hidden;}
.direction_card .text {
    padding-inline: 2em;}
.direction_card h4 {
    color: white;
    font-size: 2em;
    height: 2em;}
.direction_card p {
    margin-top: 1em;
    font-size: 0.9em;
    color: white;}
.direction_card .img {
    background-size: 100% 100%;}



.order_card {
    box-sizing: border-box;
    
    display: grid;
    grid-template-rows: 1em 2em auto 2rem 3rem;
    border-radius: 27px;
    opacity: 70%;
    border: 0.5px solid #2C3950B2;
    padding: 1.5rem 2rem;
    gap: 1rem;
    font-family: Helvetica;
    font-weight: 400;
    text-align: left;
    color: #2C3950B2;}
.order_card span {
    font-size: 1em;}   
.order_card h3 {
    color: #2C3950;
    font-size: 1.2em;}  
.order_card p {
    font-size: 0.8em;}
.order_card .direction_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    font-size: 0.7em;}
.order_card .direction_info div {
    padding: 0.2rem;
    border-radius: 13px;
    text-align: center;
    color: white; 
    margin-block: auto;}
.order_card .direction{
    background-color: #82B1B3;}
.order_card .subspecies{
    background-color: #50C878B2;}
.order_card .infro_info {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;}
.order_card .container_deadline {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 0.5rem;
    color: #2C3950; 
    border-radius: 13px;
    place-items: center;
    padding-block: 0.5rem;}
.order_card .container_comments {
    display: grid;
    grid-template-rows: 1rem 1rem;
    gap: 0.5rem;
    color: #2C3950;
    border-radius: 13px;
    place-items: center;
    padding-block: 0.5rem;}
.order_card .header {
    text-align: center;}
.order_card .content {
    text-align: center;}

.orders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    gap: 2vh;}



.image_label{
    box-sizing: border-box;
    background: linear-gradient(135deg, #2C395099, #2C395099),
    url(./mainImg.png) center/cover;
    background-size: cover;
    background-position: center;
    height: 13em;
    color: white;
    font-size: 2em;
    text-align: right;
    padding: 2em 2em 2em 50%;}
.main .directions_block {
    padding-inline: 10vw;
    padding-top: 8vh;}
.directions_block h3 {
    font-size: 2em;
    font-weight: 100;}
.directions_block .text {
    font-size: 0.8em;
    padding-top: 3vh;
    color: #2C3950B2;}
.directions_block .slider {
    padding-top: 5em;
    display: flex;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;}
.directions_block .slide {
    scroll-snap-align: start;
    min-width: 24.5vw;
    margin-inline: 1em;}



footer {
    margin-top: 4em;
    height: 10em;
    background-color: #2C3950;}

.login_page {
    margin-inline: 25em;
    margin-top: 5em;
}



form {
    border: 0.5px  solid #2C395090;
    padding: 4em;
    border-radius: 25px;
}

.login_page form h1 {
    text-align: center;
    font-size: 2em;
}

.login_page form .button {
 
   display: flex;
   justify-content: center;
}

.login_page form p {
    margin-top: 1em;
    text-decoration: none;
    text-align: center;
}





.input {
    display: flex;
    flex-direction: column;
    padding-block: 1em;
    color: #2C3950B2;
}

.input input {
    height: 2em;
    border-radius: 5px;
    border: 0.5px solid #2C39504D;
}


.personal_cabinet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-inline: 15em;
    margin-top: 5em;

}

.personal_cabinet .left_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left_part h1 {
    text-align: center;
    font-size: 2em;
    color: #2C3950;
    font-weight: 200;

}

.personal_cabinet .avatar {
    margin: auto;
    margin-top: 2em;
    width: 10em;
    height: 10em;
    border: 1px solid black;
    border-radius: 10em;
}

.personal_cabinet .button {
    margin: auto;
    margin-top: 2em;
}

.personal_cabinet p {
    margin: auto;
    margin-top: 1em;
}

.right_part {
    box-sizing: border-box;
    margin-top: 3em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px #2C39501A;
    background-color: #F5F3F6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    padding-block: 1em;
    padding-inline: 2em;
}

.info_block {
    margin-block: auto;
}

.info_block .title {
    font-size: 0.8em;
}

.info_block .value {
    font-size: 0.7em;
    color: #2C3950B2;
}








.miniAccount {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-areas:
    'firstname avatar avatar'
    'initials avatar avatar';
}

.miniAccount .firstname {
    grid-area: firstname;
    color: #2C3950;
}

.miniAccount .initials {
    grid-area: initials;
    color: #2C395099;
    text-align: right;
}

.miniAccount .avatar {
    margin-left: 0.5em;
    grid-area: avatar;
    width: 2em;
    height: 2em;
    border: 1px solid black;
    border-radius: 10em;
}

.operations {
    display: flex;
    gap: 8em;
    height: 5em;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.operations p {
    font-size: 1.5em;
    width: 10em;
    display: flex;
    justify-content: center;
}



.subscribe_page h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}

.subscribe_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:5em;
    row-gap: 2em;
}

.subscribe_card {
    width: 15em;
    height: 20em;
    margin: auto;
}

.subscribe_card .card_info {
    width: 15em;
    height: 15em;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(#E6F2DA, #BCBAD3);
}

.subscribe_card .card_price {
    margin-top: 1em;
    width: 15em;
    height: 4em;
    border-radius: 0 0 30px 30px;
    background: #BCBAD3;
    padding-block: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_price p {
    color: white;
    font-size: 2rem;
}

.card_info h4 {
    padding-top: 2rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}

.card_info p {
    margin-top: 1rem;
    padding-left: 3rem;
    font-size: 0.7rem;
}

.card_info li {
    
}